<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @author.email %></h1>
    <p>
      Your article has been visited by <%= @commenter.email %>.<br>
    </p>
    <p>
      You can see the actions on: <%= @url %>.
    </p>
    <p>Congratulations! keep doing well</p>
  </body>
</html>